player-connection-mode=Connect
player-connection-guid=2034103936
player-connection-debug=1
player-connection-project-name=Dragon
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.16
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
build-guid=44a9951583814233b6120da30f0d9ed6
